services:
  frontend:
    build:
      dockerfile: frontend/Dockerfile
    container_name: my-frontend-compose-container
    ports:
      - "8080:80"
    networks:
      - my-network
  backend:
    build:
      dockerfile: backend/Dockerfile
    container_name: my-backend-compose-container
    ports:
      - "8000:80"
    depends_on:
      - mysql
    networks:
      - my-network
  mysql:
    build:
      dockerfile: mysql/Dockerfile
    container_name: my-sql-compose-container
    environment:
      MYSQL_ROOT_PASSWORD: pass
    volumes:
      - datadir:/var/lib/mysql
    networks:
      - my-network
networks:
  my-network:

volumes:
  datadir:                   
