services:
  apache:
    build:
      dockerfile: apache/Dockerfile
    container_name: my-php-compose-container
    depends_on:
      - mysql
    ports:
      - "8080:80"
    networks:
      - my-network
  mysql:
    build:
      dockerfile: mysql/Dockerfile
    container_name: my-sql-compose-container
    environment:
      MYSQL_ROOT_PASSWORD: pass
    volumes:
      - datadir:/var/lib/mysql
    networks:
      - my-network
networks:
  my-network:

volumes:
  datadir:                   
